.SkillsProjectName {
    font-family: 'Quicksand';
    font-size: medium;
}

.card {
    width: 25rem;
}

.SkillsProjectDesc {
    font-family: 'Quicksand';
    font-size: small;
}

#skillsProjectUrlSvg {
    padding-left: 0.5rem;
    opacity: 0.5;
}

#skillsProjectUrlSvg:hover {
    opacity: 1 
}

@media(max-width: 768px) {
    .Skills {
        margin-top: 2rem;
        width: 70%;
    }
    .card {
        width: inherit;
    }
}