* {
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    max-width: 90%;
}

@media(max-width: 1440px) {
    html {
        font-size: 80%;
    }
}

@media(max-width: 1024px) {
    html {
        font-size: 60%;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 60%;
    }

    .body-container {
        flex-wrap: wrap;
    }
}

@media(max-width: 430px) {
    html {
        font-size: 50%;
    }

    input {
        width: 70%;
    }
}